body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: black;
}

.card {
    width: 300px;
    margin: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.3s;
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    width: 100%;
    height: auto;
    display: block;
}

.card .content {
    padding: 20px;
    text-align: center;
    background-color: #fff;
}

.card .content p {
    display: none;
    color: #333;
}

.card.clicked img {
    display: none;
}

.card.clicked .content p {
    display: block;
}
